* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  background-image: url('assets/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}
h1 {
  text-align: center;
  color: black;
  font-size: 32px;
  padding-top: 3%;
}
.textarea {
  width: 87%;
  margin: 10px auto;
  font-size: 16px;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.keyboard {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  padding: 10px auto;
  height: 40vh;
  row-gap: 10px;
}
.keybourd__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.button_dark {
 background-color: #090909;
 color: white;
}
.button-rectangle {
  width: 14%;
  padding: 10px;
  height: auto;
  text-align: center;
  border-radius: 10px 100px / 120px;
}
.button-square {
  width: 5%;
  padding: 10px;
  height: auto;
  text-align: center;
  border-radius: 10px 100px / 120px;
}
.button_light {
 background-color: rgb(57, 90, 103);
 color: white;
}
.button-addition {
  width: 11%;
  padding: 10px;
  height: auto;
  text-align: center;
  border-radius: 10px 100px / 120px;
}
.button-space {
  width: 50%;
  height: 40px;
  border-radius: 10px 100px / 120px;
  background-color: rgb(57, 90, 103);
}
.colored {
  border-color: #3ef37a;
  border-width: 2px;
  transform: scale(0.9);
  color: #064e1e;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
}
.arrow {
  padding: 20px;
}
.info {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
}